body {
    width: 1400px;
}

.upBlock {

    height: 42px;
    display: flex;
    align-items: center;
    background-color: #f0f2f4;
    box-shadow: 0 1px 0 0 #e2e2e2;
    width: 1400px;

}

.fa-mobile-alt {
    font-family: FontAwesome, sans-serif;
    margin-left: 892px;
    color: #424242;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.fa-envelope {
    font-family: FontAwesome, sans-serif;
    margin-top: 2px;
    margin-left: 20px;
    color: #424242;
    font-size: 19px;
    font-weight: 400;
    text-align: left;
}

.fa-facebook-square {
    margin-left: 12px;
    color: #0a88c0;
    font-size: 25px;
    font-weight: 400;
    text-align: left;

}

.tel {
    margin-left: 11px;
    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    border-right: solid #e2e2e2 1px;
    padding-right: 20px;
    padding-top: 14px;
    display: inline-block;
    height: 42px;
    box-sizing: border-box;

}

.email {
    margin-left: 8px;
    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin-top: 2px;
}

.facebookLogo {
    border-radius: 3px;
    background-color: #1287bf;
    width: 26px;
    height: 26px;
    margin-left: 12px;
    margin-bottom: 2px;
    font-family: FontAwesome, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.facebookLogo img {
    padding-top: 5px;
}

.upTwoBlock {
    height: 131px;
    display: flex;
    align-items: center;

}

.blockLogo {
    display: flex;
    width: 242px;
    height: 49px;

    margin-left: 190px;

}

.logo {
    margin-top: 1px;
    height: 49px;
    width: 74px;
}

.logoText {

    width: 274px;
    font-family: Roboto, sans-serif;
    color: #424242;
    margin-left: 9px;

}

.logoText p:nth-child(1) {

    font-size: 37px;
    font-weight: 700;
    margin-top: -6px;

}

.logoText p:nth-child(2) {

    font-size: 15px;
    font-weight: 400;
    margin-top: -38px;

}

.menu {
    margin-left: 192px;
    height: 14px;
    width: 380px;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.menu a {

    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.menu a:hover {
    color: #de2b24;
}

.point {
    border-radius: 50%;
    background-color: #424242;
    width: 5px;
    height: 5px;
}

.buttonRed {
    border-radius: 4px;
    background-color: #de2b24;
    width: 171px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 2px;
    cursor: pointer;

}

.buttonRed p {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
}

.oneBlock {
    background: url("../images/background.png");
    height: 590px;
    position: relative;
}

.oneBlock h1 {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 549px;
    top: 135px;
}

.oneBlock h3 {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    left: 451px;
    top: 190px;
}

.oneBlockButton {
    background-color: #f8cd53;
    width: 330px;
    height: 69px;
    position: absolute;
    left: 536px;
    top: 285px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.oneBlockButton a {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 23.2px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transform: scaleY(1.01);

}

.twoBlock {
    height: 566px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twoBlockText {
    margin-top: 67px;
}

.twoBlock p {
    font-family: Roboto, sans-serif;
    color: #424242;
    line-height: 26px;
    text-align: center;

}

.twoBlock .twoBlockText p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.twoBlock .twoBlockText p:nth-child(2) {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 300;
}

.twoBlock .twoBlockText p:nth-child(2):after {
    content: " ";
    background-color: #424242;
    width: 47px;
    height: 5px;
    display: block;
    margin: 11px auto;
}

.bg-aboutUs1 {
    width: 83px;
    height: 79px;
    background: url('../images/css_sprites.png') -564px -111px;
}

.bg-aboutUs2 {
    width: 66px;
    height: 79px;
    background: url('../images/css_sprites.png') -564px -210px;
}

.bg-aboutUs3 {
    width: 84px;
    height: 81px;
    background: url('../images/css_sprites.png') -564px -10px;
}

.bg-ourWork1 {
    width: 257px;
    height: 253px;
    background: url('../images/css_sprites.png') -10px -10px;
}

.bg-ourWork2 {
    width: 255px;
    height: 253px;
    background: url('../images/css_sprites.png') -10px -283px;
}

.bg-ourWork3 {
    width: 255px;
    height: 253px;
    background: url('../images/css_sprites.png') -285px -283px;
}

.bg-ourWork4 {
    width: 257px;
    height: 253px;
    background: url('../images/css_sprites.png') -287px -10px;
}

.twoBlockSection {
    display: flex;
    margin-top: 25px;

}

.twoBlockImages {
    width: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.twoBlockImages p:nth-child(2) {
    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}

.twoBlockImages p:nth-child(2):after {
    display: none;
}

.twoBlockImages p:nth-child(3) {
    font-family: OpenSans, sans-serif;
    color: #5c5c5c;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 9px;
}

.threeBlock {
    background-color: #de2b24;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.threeBlockText {
    margin-top: 75px;

}

.threeBlock p {
    color: #ffffff;
    line-height: 26px;
    text-align: center;
    margin-bottom: 0;

}

.threeBlockText p:nth-child(1) {
    font-size: 36px;
    font-weight: 700
}

.threeBlock .threeBlockText p:nth-child(2) {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 300;
}

.threeBlock .threeBlockText p:nth-child(2):after {
    content: " ";
    background-color: #ffffff;
    width: 47px;
    height: 5px;
    display: block;
    margin: 11px auto;
}

.threeBlockSection {
    display: grid;
    height: 506px;
    width: 1024px;
    grid-template-columns: 255px 257px 257px 255px;
    grid-template-rows: repeat(2, 253px);
    margin-top: 37px;
}

.threeBlockSection i {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 80px;
}

.threeBlockSectionText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.threeBlockSectionText p {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-weight: 700;

}

.threeBlockSectionText p:nth-last-child(2) {
    font-size: 26px;
    margin-top: 28px;
}

.threeBlockSectionText p:nth-child(3) {
    font-size: 16px;
    margin-top: -3px;
}

.fourBlock {
    background-color: #2a2a2a;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourBlockHeader {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 92px;
    margin-bottom: 27px;

    
}

.fourBlockIcons {
    display: flex;
}

.fourBlockIcons div {
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-color:  #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 9px;
    cursor: pointer;

}

.fourBlockIcons div:hover {
    border-color: #df271f;
}

.fab {
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;


}

.textAfterIcons {
    font-family: OpenSans, sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 31px;
}

.input {
    border-radius: 1px;
    background-color: #515151;
    width: 683px;
    height: 54px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.input p {
    font-family: OpenSans, sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-left: 22px;
}

.subscribe {
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 153px;
    height: 53px;
    cursor: pointer;
    margin-top: 22px;
}

.subscribe p {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}

footer {
    background-color: #515151;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: OpenSans, sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}